.site-content {
  margin: 1em 1em 0;
  flex-grow: 1;

  @include bp($tablet) {
    margin: em(50) auto 0 auto;
    width: 75%;

    .home & {
      text-align: center;
      margin: 0;
      width: auto;
      background: url('assets/eg-front-bg-transparent.png') no-repeat center center;
      background-size: cover;
    }
  }
}

.sticky {
  display: block;
}

.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.home {
  .entry-title,
  .page-title {
    @extend %visuallyhidden;
  }
}

.bordered-top {
  border-top: $header-footer-border;
}

.eg-front-content-wrapper {
  display: flex;
  flex-direction: column-reverse;

  @include bp($tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em auto;
    width: 85%;
  }
}

.eg-front-column {
  p {
    text-align: left;
  }

  p:last-child {
    margin: 0;
  }

  @include bp($tablet) {
    margin-right: 2em;
  }

  @include bp($laptop) {
    width: 400px;
  }
}

.eg-front-column:last-child {
  @include bp($tablet) {
    margin-right: 0;
    border: 10px solid transparent;
  }
}

.eg-intro-text {
  background-color: $primary-text-color;
  border: $header-footer-border;
  color: $secondary-text-color;
  margin-bottom: 1em;
  padding: 1em;
}

.eg-video-text {
  background-color: $body-bg;
  padding: 1em;
}

.eg-video-wrapper {
  height: 0;
  margin-bottom: 1em;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.eg-youtube-vid {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

a.eg-btn {
  color: $secondary-text-color;
  display: block;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 0;
  text-align: center;
  text-decoration: none;
}

.eg-cta-btn {
  background-color: $emphasis-color;
}

.eg-cta-btn-alt {
  background-color: $primary-text-color;
}
