.site-content {
  margin: 1em 1em 0;

  @include bp($tablet) {
    margin: em(50) auto;
    width: 75%;

    .home & {
      text-align: center;
    }
  }
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.home {
  .entry-title,
  .page-title {
    @extend %visuallyhidden;
  }
}
