.site-footer {
  background-color: #3b5167;
  border-top: 10px solid #e3e8ec;
  padding: 75px 0;
}

.site-info {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.site-info .social-media-wrapper {
  margin: 2em 0;
}

.site-info p {
  margin: 0;
}
