.site-footer {
  background-color: $header-footer-bg-color;
  border-top: $header-footer-border;
  padding: 75px 0;
}

.site-info {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.site-info .social-media-wrapper {
  margin: 2em 0;
}

.site-info p {
  margin: 0;
}
