/*--------------------------------------------------------------
# Menus
--------------------------------------------------------------*/

$header-height: 60;

.site-header {
  align-content: center;
  align-items: center;
  background-color: $header-footer-bg-color;
  border-bottom: $header-footer-border;
  display: flex;
  justify-content: space-between;
  height: em($header-height);
  padding: 0 1em;

  @include bp($tablet) {
    align-items: flex-end;
    height: auto;
    padding: 1em 0;
  }
}

.site-branding {
  margin-right: auto;
  display: flex;
  align-items: center;

  @include bp($tablet) {
    margin-left: 1em;
  }
}

.site-title {
  margin: 0;

  .site-title-text {
    @extend %visuallyhidden;
    margin: 0;
  }
}

.main-navigation {
  $gte-tablet-sub-menu-width: 200px;
  background-color: $header-footer-bg-color;
  display: block;
  left: em(-9999);
  position: absolute;
  top: em($header-height);
  z-index: 1000;

  .admin-bar & {
    $wp-admin-bar-height: 46;
    top: em($header-height + $wp-admin-bar-height);
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    @include bp($tablet) {
      display: block;

      li:hover > ul,
      li.focus > ul {
        left: auto;
        padding-top: 1em;

        // Center sub-menus under parent
        right: calc(50% - #{$gte-tablet-sub-menu-width / 2});
      }

      li:last-child:after {
        margin-right: 1em;
      }

      // Align the sub-menu to the right of the screen when it's parent is the last li
      li:last-child:hover > ul,
      li:last-child.focus > ul {
        right: 0;
      }
    }
  }

  a {
    border-bottom: 1px solid #ffffff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $secondary-text-color;
    }

    @include bp($tablet) {
      border: 0;
      display: inline;
      padding: 0.5em 0 0.5em 0.75em;
    }
  }

  > li:last-child a {
    border: 0;
  }

  &.toggled {
    box-shadow: 0px 0px 15px -3px darken($header-footer-bg-color, 5);
    left: 0;
    width: 100%;

    ul {
      display: block;

      @include bp($tablet) {
        display: flex;
      }
    }
  }

  .sub-menu a {
    padding-left: 2em;

    @include bp($tablet) {
      display: inline-block;
      padding: 0.5em;
      text-align: center;
      width: $gte-tablet-sub-menu-width;
    }
  }

  @include bp($tablet) {
    display: flex;
    flex-direction: row-reverse;
    position: static;
    width: 100%;

    ul ul {
      background-color: $header-footer-bg-color;
      box-shadow: 0 3px 3px darken($header-footer-bg-color, 5);
      position: absolute;
      left: -999em;
      z-index: 99999;

      a {
        width: $gte-tablet-sub-menu-width;
      }

      li {
        display: block;
      }

      li:hover > ul,
      li.focus > ul {
        left: auto;
      }
    }

    li {
      display: inline-block;
      position: relative;
    }

    ul ul ul {
      left: -999em;
      top: 0;
    }
  }
}

/* Small menu. */

.menu-toggle {
  background-color: $header-footer-bg-color;
  border: 0;
  color: $secondary-text-color;
  display: block;
  font-size: 40px;
  padding: 0;

  @include bp($tablet) {
    display: none;
  }

  .menu-toggle-text {
    @extend %visuallyhidden;
  }

  .menu-toggle-icon {
    position: relative;
    bottom: 2px;
  }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.edit-profile {
  display: none !important;
}

.site-login {
  margin-right: 1em;
}

.logged-in {
  & .site-login {
    display: none !important;

    a {
      padding-right: 1em;
    }
  }

  & .edit-profile {
    display: block !important;

    @include bp($tablet) {
      display: inline-block !important;
    }
  }
}

.menu-item-has-children:after {
  @include bp($tablet) {
    $triangleSize: 5px;
    border-left: $triangleSize solid transparent;
    border-right: $triangleSize solid transparent;
    border-top: $triangleSize solid $secondary-text-color;
    content: "";
    display: block;
    float: right;
    height: 0;
    margin: 10px 0 0 5px;
    width: 0;
  }
}
