/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: royalblue;

  &:visited {
    color: purple;
  }

  &:hover,
  &:active {
    color: midnightblue;
  }

  &:focus {
    color: midnightblue;
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/*--------------------------------------------------------------
# Menus
--------------------------------------------------------------*/

$header-height: 60px;

.site-header {
  align-content: center;
  align-items: center;
  background-color: $header-footer-bg-color;
  border-bottom: $header-footer-border;
  display: flex;
  justify-content: space-between;
  height: $header-height;
  padding: 0 1em;
}

.site-branding {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.site-title {
  margin: 0;

  .site-title-text {
    @extend %visuallyhidden;
    margin: 0;
  }
}

.main-navigation {
  background-color: $header-footer-bg-color;
	display: block;
  left: -9999px;
  position: absolute;
  top: $header-height;
  z-index: 1000;

  .admin-bar & {
    top: $header-height+46px;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  a {
    border-bottom: 1px solid #ffffff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $secondary-text-color;
    }
  }

  > li:last-child a {
    border: 0;
  }

  &.toggled {
    box-shadow: 0px 0px 15px -3px darken($header-footer-bg-color, 5);
    left: 0;
    width: 100%;

    ul {
      display: block;
    }
  }

  .sub-menu a {
    padding-left: 2em;
  }
}

/* Small menu. */

.menu-toggle {
  background-color: $header-footer-bg-color;
  border: 0;
  color: $secondary-text-color;
  display: block;
  font-size: 40px;
  padding: 0;

  .menu-toggle-text {
    @extend %visuallyhidden;
  }

  .menu-toggle-icon {
    position: relative;
    bottom: 2px;
  }
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
