/*------------------------------------*\
  # Colors
\*------------------------------------*/

$body-bg: #e3e9ec;
$header-footer-bg-color: rgba(56, 81, 105, 1);
$header-footer-border: 10px solid #ffffff;

$primary-text-color: #385169;
$secondary-text-color: #ffffff;

$cta-bg-color: rgba(125, 47, 93, 0.9);

/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

$big-mobile: 25em; // 400px
$tablet: 48em; // 768px
$laptop: 64em; // 1024px
$desktop: 75em; // 1200px
